Source: foswiki
Section: unknown
Priority: optional
Maintainer: Christopher Huhn, GSI <C.Huhn@gsi.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://foswiki.org
#Vcs-Git: git://anonscm.debian.org/collab-maint/foswiki.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/foswiki.git;a=summary

Package: foswiki-core
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, httpd, libcrypt-passwdmd5-perl,
 foswiki-data-store | foswiki-plain-file-store-contrib
Recommends: foswiki-configureplugin
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: foswiki-apache2
Architecture: all
Depends: ${misc:Depends}, apache2
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: foswiki-plain-file-store-contrib
Provides: foswiki-data-store
Architecture: all
Depends: ${misc:Depends}
Description: Store Foswiki data using plain text files
 This is a full implementation of a Foswiki store that uses nothing more
 sophisticated than plain files and directories In the Foswiki spirit
 these files are organised in a simple and clear structure using
 intention-revealing file names.
