Source: foswiki
Section: web
Priority: optional
Maintainer: Christopher Huhn, GSI <C.Huhn@gsi.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://foswiki.org
#Vcs-Git: git://anonscm.debian.org/collab-maint/foswiki.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/foswiki.git;a=summary

Package: foswiki-core
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, httpd | apache2,
 libcrypt-passwdmd5-perl, foswiki-data-store | foswiki-plain-file-store-contrib,
 foswiki-user-mapping | foswiki-topic-user-mapping-contrib
Recommends: foswiki-configureplugin
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: foswiki-apache2
Architecture: all
Depends: ${misc:Depends}, apache2
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: foswiki-plain-file-store-contrib
Provides: foswiki-data-store
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: Store Foswiki data using plain text files
 This is a full implementation of a Foswiki store that uses nothing more
 sophisticated than plain files and directories In the Foswiki spirit
 these files are organised in a simple and clear structure using
 intention-revealing file names.

Package: foswiki-rcs-store-contrib
Provides: foswiki-data-store
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: The classic Foswiki RCS based data store
 Other store implementations have emerged, and the RCS store's status as
 "the one and only" store implementation has been eroded.

Package: foswiki-topic-user-mapping-contrib
Provides: foswiki-user-mapping
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: maps external authentication providers to internal user IDs
 The User Mapping Manager interface provides services for mapping between a
 'user identity' as used when talking to an external authentication provider,
 an internal canonical user ID, and the displayed name used to identify the
 user in topics. This is the default TopicUserMapping in which user information
 is stored in topics - one per user, and then any mapping needed is done using
 the WikiUsers topic in the Main.
