Source: foswiki
Section: web
Priority: optional
Maintainer: Christopher Huhn, GSI <C.Huhn@gsi.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://foswiki.org
#Vcs-Git: git://anonscm.debian.org/collab-maint/foswiki.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/foswiki.git;a=summary

Package: foswiki-core
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, httpd | apache2,
 libcrypt-passwdmd5-perl, foswiki-data-store | foswiki-plain-file-store-contrib,
 foswiki-user-mapping | foswiki-topic-user-mapping-contrib
Recommends: foswiki-configure-plugin
Description: enterprise wiki and , collaboration platform, knowledge base, document management system
 Foswiki is an enterprise wiki, suitalbe to run a collaboration platform,
 knowledge base or document management system.
 .
 This package installs a rudimental foswiki w/o default extensions, skin etc.

Package: foswiki
Architecture: all
Depends: ${misc:Depends}, foswiki-core
Recommends:
Description: enterprise wiki, collaboration platform, knowledge base, document management system
 Foswiki is an enterprise wiki, suitalbe to run a collaboration platform,
 knowledge base or document management system.
 .
 This package installs all packages for a standard foswiki setup.

Package: foswiki-apache2
Architecture: all
Depends: ${misc:Depends}, apache2
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: foswiki-famfamfam-contrib
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: famfamfam icons for foswiki
 4 great free icon sets for foswiki, by Mark James http://www.famfamfam.com

Package: foswiki-jquery-plugin
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: jQuery JavaScript library for Foswiki
 Besides jQuery itself, JQueryPlugin comes with a selection of
 third party plugins that are thought to be essential for
 modern web applications.

Package: foswiki-pattern-skin
Provides: foswiki-skin
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: Default skin for foswiki
 Pattern skin provides a CSS based default look and feel - flexible and
 W3C compliant. Its layout and color scheme are designed to provide a nice,
 clean and productive editing environment

Package: foswiki-plain-file-store-contrib
Provides: foswiki-data-store
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: Store Foswiki data using plain text files
 This is a full implementation of a Foswiki store that uses nothing more
 sophisticated than plain files and directories In the Foswiki spirit
 these files are organised in a simple and clear structure using
 intention-revealing file names.

Package: foswiki-rcs-store-contrib
Provides: foswiki-data-store
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: The classic Foswiki RCS based data store
 Other store implementations have emerged, and the RCS store's status as
 "the one and only" store implementation has been eroded.

Package: foswiki-topic-user-mapping-contrib
Provides: foswiki-user-mapping
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: maps external authentication providers to internal user IDs
 The User Mapping Manager interface provides services for mapping between a
 'user identity' as used when talking to an external authentication provider,
 an internal canonical user ID, and the displayed name used to identify the
 user in topics. This is the default TopicUserMapping in which user information
 is stored in topics - one per user, and then any mapping needed is done using
 the WikiUsers topic in the Main.
